name: build

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    steps:
    - uses: actions/checkout@v4.1.3

    - name: Setup .NET
      uses: actions/setup-dotnet@v4.0.0
      with:
        dotnet-version: 8.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build

    - name: Publish
      run: dotnet publish -c Release
      working-directory: ./SubRenamer

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4.3.1
      with:
        name: SubRenamer
        path: ./SubRenamer/bin/Release/net8.0-windows/publish
