name: build

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    steps:
    - uses: actions/checkout@v3.0.0
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.x
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build
      
    - name: Publish
      run: dotnet publish -c Release
      working-directory: ./SubRenamer
      
    - name: Upload Build Artifact
      uses: actions/upload-artifact@v2.3.1
      with:
        name: SubRenamer
        path: ./SubRenamer/bin/Release/net6.0-windows/publish
