name: publish

on:
  push:
    tags:
      - "v*.*.*"
      
jobs:
  build:
    runs-on: windows-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    steps:
    - uses: actions/checkout@v3.5.2
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v3.0.3
      with:
        dotnet-version: 6.x
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build
      
    - name: Publish
      run: dotnet publish -r win-x64 -p:PublishSingleFile=true -c Release --self-contained false
      working-directory: ./SubRenamer
      
    - name: Publish
      run: dotnet publish -r win-arm64 -p:PublishSingleFile=true -c Release --self-contained false
      working-directory: ./SubRenamer
      
    - name: Zip Build Artifact
      uses: vimtor/action-zip@v1
      with:
        files: ./SubRenamer/bin/Release/net6.0-windows/win-x64/publish
        dest: SubRenamer-win-x64.zip
      
    - name: Zip Build Artifact
      uses: vimtor/action-zip@v1
      with:
        files: ./SubRenamer/bin/Release/net6.0-windows/win-arm64/publish
        dest: SubRenamer-win-arm64.zip
      
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          SubRenamer-win-x64.zip
          SubRenamer-win-arm64.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
